<launch>
  <!-- Joystick Node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="teleop_joy" >
    <param name="dev" type="string" value="/dev/input/js2" />
    <param name="deadzone" value="0.12" />
  </node>
 
 
  <!-- Teleop Node -->
  <node pkg="teleop_offboard_attitude" type="teleop_offboard_attitude_node" name="teleop" output="screen" >

    <!-- Axes -->
    <param name="axis/roll" value="1" type="int"/>
    <param name="axis/pitch" value="2" type="int"/>
    <param name="axis/yaw_r" value="3" type="int"/>
    <param name="axis/throttle" value="4" type="int"/>
	
	<!-- Scaling -->
    <param name="scale/a" value="0.39" type="double"/>
    <param name="scale/r" value="0.5" type="double"/>  
  </node>
</launch>